.welcome {
  padding-top: 140px;
  text-align: center;
  font-family: "Varela Round, sans-serif";
  font-weight: bolder;
  font-size: 100px;
}

.Login_Input {
  width: 500px;
  height: 50px;
}

.form_div {
  text-align: center;
}

.Form_button {
  width: 200px;
  height: 50px;
  background-color: orange;
  border-color: orange;
  color: white;
  font-size: 20px;
}

.Form_alerts {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Form_username {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
.Form_password {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
.Form_alerts_h7 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: red;
}

.form_message {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: red;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 1000px) {
  .Login_Input {
    width: 200px;
    height: 30px;
  }
}
